<script>
copyright = new Date();
update = copyright.getFullYear();

var copyrights = {
	years		: '{{ COPYRIGHT_YEAR | escape('js') }}',
};

if (update == copyrights.years)
{
	document.write("{{ lang('COPYRIGHT')|escape('js') }} {{ lang('COPYRIGHT_YEAR')|escape('js') }} {{ SITENAME }} {{ lang('COPYRIGHT_RESERVED')|escape('js') }}");
}
else
{
	document.write("{{ lang('COPYRIGHT')|escape('js') }} {{ lang('COPYRIGHT_YEAR')|escape('js') }} - "+ update +" {{ SITENAME }} {{ lang('COPYRIGHT_RESERVED')|escape('js') }} - {{ lang('COPYRIGHT_YEARS')|escape('js') }}");
}

</script>
<br /><br />